{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container mt-5">
  <h1>Products</h1>
  <div class="row">
    {% for product in products %}
    <div class="col-md-4">
      <div class="card mb-4">
        {% if product.image %}
        <img src="{{ url_for('static', filename='images/' ~ product.image) }}"
         class="card-img-top" alt="{{ product.name }}">
        {% else %}
        <img src="{{ url_for('static', filename='images/default.jpg') }}" class="card-img-top" alt="Default Image">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Price: ₹{{ product.price }}</p>
          <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="POST">
            <button type="submit" class="btn btn-primary">Buy Now</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
